<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>facil</key>
	<dict>
		<key>tema 1</key>
		<dict>
			<key>pregunta</key>
			<string>pregunta q</string>
			<key>respuesta</key>
			<string>respuesta 1</string>
			<key>incorrectas</key>
			<array>
				<string>incorrecta 1</string>
				<string>incorrecta 2</string>
				<string>incorrecta 3</string>
			</array>
		</dict>
	</dict>
	<key>medio</key>
	<array/>
	<key>dificil</key>
	<array/>
</dict>
</plist>
